:root {
  --color-1: #29ab87;
  --color-2: #259a7a;
  --color-3: #21896c;
  --color-4: #1d785f;
  --color-5: #196751;
  --color-6: #155644;
  --color-7: #104436;
  --color-8: #0c3329;
  --color-9: #08221b;
  --color-10: #04110d;
}
